<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Chamados</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IndexServel</display-name>
    <servlet-name>IndexServel</servlet-name>
    <servlet-class>servlet.IndexServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServel</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NovoChamadoServlet</display-name>
    <servlet-name>NovoChamadoServlet</servlet-name>
    <servlet-class>servlet.NovoChamadoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NovoChamadoServlet</servlet-name>
    <url-pattern>/NovoChamado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarChamadosServlet</display-name>
    <servlet-name>ListarChamadosServlet</servlet-name>
    <servlet-class>servlet.ListarChamadosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarChamadosServlet</servlet-name>
    <url-pattern>/ListarChamados</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarChamado</display-name>
    <servlet-name>EditarChamado</servlet-name>
    <servlet-class>servlet.EditarChamadoServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarChamado</servlet-name>
    <url-pattern>/EditarChamado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSystem</display-name>
    <servlet-name>LoginSystem</servlet-name>
    <servlet-class>servlet.LoginSystem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSystem</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NovoUser</display-name>
    <servlet-name>NovoUser</servlet-name>
    <servlet-class>servlet.NovoUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NovoUser</servlet-name>
    <url-pattern>/NovoUsario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarUserServlet</display-name>
    <servlet-name>ListarUserServlet</servlet-name>
    <servlet-class>servlet.ListarUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarUserServlet</servlet-name>
    <url-pattern>/ListarUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlChamados</display-name>
    <servlet-name>ControlChamados</servlet-name>
    <servlet-class>servlet.ControlChamados</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlChamados</servlet-name>
    <url-pattern>/ControlChamados</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlUser</display-name>
    <servlet-name>ControlUser</servlet-name>
    <servlet-class>servlet.ControlUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlUser</servlet-name>
    <url-pattern>/ControlUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet desenvolvida para validar sessões e nivies de acesso</description>
    <display-name>ControlAccess</display-name>
    <servlet-name>ControlAccess</servlet-name>
    <servlet-class>servlet.ControlAccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlAccess</servlet-name>
    <url-pattern>/ControlAccess</url-pattern>
  </servlet-mapping>
</web-app>